<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg">
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    submit () {

    }
  }
}
</script>

<!--style lang="stylus" scoped>
  a {
    color: white;
  }
</style-->
